/build*
test*
librem.a
librem.dylib
librem.pc
librem.so

# clangd
.cache
compile_commands.json

# Windows build folder
Win32/*

# Visual studio config
mk/win32/*.vcxproj.user

# ctags
tags

# Vim swp files
*.swp
